<form role="form" data-ng-submit="addCar()">
    <div class="form-group">
        <label for="productionDate">Production date</label>
        <input id="productionDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
    </div>
    <div class="form-group">
        <label for="carPiture">Car picture</label>
        <input accept="image/*" required="required" data-file-to-scope-string="car.carPiture" type="file" class="form-control" id="carPiture" placeholder="Provide picture of the car">
    </div>
    <div class="form-group">
        <label for="manufacturer">Manufacturer</label>
        <input required="required" data-ng-model="car.manufacturer" type="text" class="form-control" id="manufacturer" placeholder="Enter manufacturer of the car">
    </div>
    <div class="form-group">
        <label for="modelOfCar">Model</label>
        <input required="required" data-ng-model="car.modelOfCar" type="text" class="form-control" id="modelOfCar" placeholder="Enter model of the car">
    </div>
    <div class="form-group">
        <label>In stock</label>
        <div class="radio">
            <label>
                <input type="radio" name="inStock" value="Yes" ng-model="car.inStock">
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="inStock" value="No" ng-model="car.inStock">
                No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="licensePlate">License plate (format X(X) NNNN Y(Y))</label>
        <input required="required" pattern="[А-ЯA-Z]{1,2} [0-9]{4} [А-ЯA-Z]{1,2}" data-ng-model="car.licensePlate" type="text" class="form-control" id="licensePlate" placeholder="Enter license plate of the car">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input required="required"  data-ng-model="car.address" type="text" class="form-control" id="address" placeholder="Enter current location of the car">
        <alert data-ng-if="errorMessage" type="'danger'" close="closeAlert('errorMessage')">
            {{errorMessage}}
        </alert>
        <input type="button" data-ng-click="getGeolocation(car.address)" class="btn btn-info" value="Get geolocation from google service">
        <br>
        <input type="text" class="nativeErrorHolder" data-show-error-message data-track="car.geolocation"/>
        <alert data-ng-if="geoLocationMsg" type="'success'" close="closeAlert('geoLocationMsg')">
                Car latitude is {{geoLocationMsg.lat}} car longtutide is {{geoLocationMsg.lng}}.
        </alert>
    </div>
    <button type="submit" class="btn btn-primary">Add car</button>
    <div class="form-group" data-ng-show="car.geolocation">
        Location of the car on the map.
        <div style="height: 300px;" id="map-canvas" data-show-google-map data-geocode="car.geolocation"></div>
    </div>
</form>