<table class="table table-striped" data-ng-show="carlist.length > 0">
    <caption>List of cars</caption>
    <thead>
        <tr>
            <td>
                Car manufacturer
            </td>
            <td>
                Model
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="car in carlist">
            <td>
                {{car.manufacturer}}
            </td>
            <td>
                {{car.modelOfCar}}
            </td>
            <td>
                <a href="javascript:void 0;" data-ng-click="removeCar(car.id)">
                    <span class="glyphicon glyphicon-remove">

                    </span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div data-ng-show="carlist.length == 0">
  There is no cars in the system. Please use tab Add car.
</div>
